.CartItemContainer {
  padding: 0;
  margin: 0;
  width: 90%;
}

.ItemContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

@media (min-width: 768px) {
  .ItemContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
  }
}

.ItemDetails {
  display: flex;
  align-items: center;
}

@media (min-width: 768px) {
  .ItemDetails {
    display: flex;
    align-items: center;
    margin-left: 30px;
  }
}

.ItemImg {
  height: 100px;
  width: 100px;
  border-radius: 15px;
  margin-right: 20px;
}

.ItemName {
  font-size: 13px;
  font-weight: bold;
  width: 120px;
}

@media (min-width: 768px) {
  .ItemName {
    font-size: 16px;
    font-weight: bold;
    width: 180px;
  }
}

.ItemPrice {
  font-size: 17px;
  font-weight: bold;
}

.Controller {
  display: flex;
  align-items: center;
  border: 1px solid green;
  width: 80px;
  height: 40px;
  border-radius: 10px;
  justify-content: space-around;
  text-align: flex-end;
  margin-left: 0;
}
.ControllIcon {
  font-size: 30px;
  font-weight: 600;
  color: green;
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}

.Quantity {
  font-size: 30px;
  font-weight: 500;
  color: green;
}

.horline {
  width: 80%;
}
